* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.weatherForm {
  margin: 1.9rem;
}

.weather-form__input {
  padding: 1.3rem;
  font-size: 1.7rem;
  font-weight: bold;
  border: 2px solid rgba(26, 132, 26, 0.225);
  border-radius: 0.6rem;
  margin: 0.6rem;
  width: 17.5rem;
}

.weather-form__button {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: rgba(26, 132, 26, 0.225);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.weather-form__button:hover {
  background-color: rgba(26, 132, 26, 0.425);
  box-shadow: 0.5px 1px 2.25px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 2.3rem;
}

p {
  font-size: 1.3rem;
  margin: 0.6rem;
}

.weather-card {
  background: linear-gradient(
    135deg,
    rgba(0, 153, 255, 0.325),
    rgba(0, 102, 204, 0.8)
  );
  padding: 3.25rem;
  box-shadow: 1px 2px 4.5px rgba(0, 0, 0, 0.55);
  min-width: 40%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card__city,
.weather-card__temp {
  font-size: 3.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 0.3rem;
}

.weather-card__humidity {
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.weather-card__desc {
  font-style: italic;
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.weather-card__emoji {
  margin: 0;
  font-size: 7.6rem;
}

.weather-card__error {
  font-size: 2.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

/* Responsive Breakpoints*/
@media (max-width: 600px) {
  .weather-form__input,
  .weather-card {
    width: 100%;
  }

  .weather-form__button {
    width: 100%;
    margin-top: 1rem;
  }
}
